
# Activons le "RewriteEngine" pour pouvoir 
# utiliser les "RewriteRule" et "RewriteCond"

RewriteEngine on

RewriteBase /

# Ensuite, v?rifions que nous sommes bien sur 
#le site
# et dans le sous-dossier voulu.

RewriteCond %{HTTP_HOST} ^(www.)?projet4.roxanerg.com$
RewriteCond %{REQUEST_URI} !^/www/

RewriteRule .*\.(gif|GIF|jpg|JPG|bmp|BMP|wav|mp3|wmv|avi|mpeg)$ - [F]

# Maintenant que toutes les conditions ont ?t?
# rencontr?es, on redirige vers le bon sous-dossier
RewriteRule ^(.*)$ /www/$1 [L]

# Protection contre attaques de 'clickjacking'
#Header set X-Frame-Options: "sameorigin"