@font-face 
{
    font-family: 'Roboto-Black';
    src: url('../www/css/fonts/Roboto-Black.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

body 
{
    margin: 0;
    background: lightgray;
}

h1, h2, h3, h4
{
    font-family: 'Roboto-Black';
}

ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a 
{
    text-decoration: none;
}

header 
{
    position: fixed;
    width: 100%;
    z-index: 1;
    background: rgba(245, 245, 245, 0.5);
}

header::after
{
    line-height: 3px;
    width: 10px;
    height: 10px;
    border-bottom: 3px teal inset;
}

#logo_container
{
    position: absolute;
    top: 2px;
    left: 15px;
}

#logo 
{
    max-width: 150px;
    border-radius: 50%;
    border: 1px transparent solid;
}

#logo:hover
{
    animation: flip 1.2s infinite;
    border: 1px lightgrey solid;
}

@keyframes flip
{
    100% {
        transform: rotateX(360deg);
    }
}

#navbar ul
{
    display: flex;
    justify-content: flex-end;
}

#navbar ul li 
{
    font-size: 1.2em;
    border-bottom: 3px transparent solid;
    background: rgba(0, 128, 128, 0.7);
}

#navbar ul li:hover
{
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 3px rgb(252, 229, 12) solid;
}

#navbar ul a
{
    color: #fff;
}

#navbar ul a:hover
{
    color: teal;
    filter: drop-shadow(7px 10px 4px lightgray);
}

#navbar ul i
{
    margin: 20px 30px;
}

#navbar::before
{ 
	content: '';
    position: absolute;
    right: 239px;
	border-bottom : 62px solid rgba(0, 128, 128, 0.7);;
	border-left : 50px solid transparent;
}

#login a i 
{
    font-size: 1em;
}

/* écran d'accueil */
#home_screen 
{
    position: relative;
}

#home_title
{
    position: absolute;
    width: 70%;
    top: 30%;
    left: 20%;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
}

#title
{
    display: block;
    color: #efd8c9;
    font-size: 2em;
    font-weight: bold;   
    padding: 25px 7px;
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.2);
}

#author
{
    padding: 10px 20px;
    background: rgba(245, 245, 245, 0.5);   
}

#home_image
{
    width: 100%;
}

/* affichage derniers episodes */
#last_ep
{
    text-align: center;
    padding: 40px 20px 30px;
}

#last_ep h2
{   
    font-weight: bold;
    font-size: 1.7em;
    text-transform: uppercase;
}

.ep_card
{
    margin: 40px auto;
}

.ep_excerpt
{
    line-height: 2em;
}

/*pagination*/

#pagination 
{
    display: flex;
}

input:invalid
{
    filter: drop-shadow(2px 2px 2px 2px red);
}

/* pages épisode et biographie */
.container-fluid
{
    padding-top: 150px;
}

#episode_title
{
   padding-top: 200px;
}

form
{
    margin: 20px;
}

form input
{
    margin: 10px 0;
}


